<html>
<head>
	<title>The Work of Eric Chesbrough</title>
</head>
<body>
	<div id="home" class="page">
		<div class="content">
			<div id="home_content">
				<a href="/assets/E.JPG" class="fresco"><img src="/assets/name.png" id="emc_logo"></a>
				<div id="links" class="subMenu">
					<ul>
						<li><a href="#" id="l1">about</a></li>
						<li><a href="#" id="l2">skills</a></li>
						<li><a href="#" id="l3">projects</a></li>
						<li class="last_link"><a href="#" id="l4">contact</a></li>
					<!-- 	<li class="last_link"><a href="#" id="l5">other</a></li> -->
					</ul>
				</div>
			</div>
		</div>
<!-- 		<footer>
			<img src="/assets/heart.png" alt="Heart" height="55" width:"45" id="heart" >
			<p id="withlove">© 2013 CRAFTED WITH LOVE BY EMC</p>
		</footer> -->
	</div>
<!-- clear -->
<div class="clear"></div>
<!-- End of Home -->

<!-- Start of About -->
	<div id="about" class="page l1">
			<div class="content">
				<div id="about_content">
					<h1 class="heading">Hi, I'm Eric.</h1>
					<img src="/assets/about_logo.png" height:"215" width:"620" class="about_logo">
					<h2 class="about_text">a designer and developer that fights for the user <br />
					by crafting beautiful and intuitive experiences.</h2>
				</div>
			</div>
		</div>

	</div>
<!-- clear -->
<div class="clear"></div>
<!-- End of About -->

<!-- Start of Skills -->
	<div id="skills" class="page l2">
		<div class="content">
			<div id="skills_content">
				<h1 class="heading">Skills</h1>
					<img src="/assets/skills_and_dividers.png" class="about_logo">

					<ul class="heading_2 spacing">
						<li>I solve problems with my brain.</li>
						<li>I communicate effectively with my voice.</li>
						<li>I design interfaces with Photoshop and Illustrator.</li>
						<li>I develop websites with Ruby on Rails, Javascript, HTML5 and CSS3.</li>
						<li>I add visbility to your product with SEO.</li>
						<li>I add awareness to your product with Social Media</li>
						<li>I live happily by doing what’s mentioned above.</li>
					</ul>
			</div>
		</div>
	</div>
<!-- clear -->
<div class="clear"></div>
<!-- End of Skills -->

<!-- Start of Projects -->
	<div id="projects" class="page l3">
		<div class="content">
			<div id="projects_content">
				<h1 class="heading">Projects</h1>
				<img src="/assets/apple_and_dividers.png" class="about_logo">
				<ul class="heading_2 spacing">
					<li><a href="http://www.wanttt.com" target="_blank" class="tooltip" title="Product curation powered by shoppers.">Want</a></li>
					<li><a href="#" class="tooltip" title="Your digital resting place.">BeyondLife</a></li>
					<li><a href="#" class="tooltip" title="Audio articles in your pocket.">Audicle</a></li>
					<li><a href="https://github.com/echezbro" target="_blank" class="tooltip" title="Code I've written.">Github</a></li>
					<li><a href="#" class="tooltip" title="Ideas in my notebook.">Other</a></li>
			</div>
		</div>

	</div>
<!-- End of Projects -->
<!-- Start of Contact -->
	<div id="contact" class="page l4">
		<div class="content">
			<div id="contact_content">
				<h1 class="heading">Contact Me</h1>
					<img src="/assets/chat_and_dividers.png" width="520px" class="about_logo">
					<li class="heading_2 spacing_for_heading"><a href="mailto:hi@ericchesbrough.com">hi@ericchesbrough.com</a></li>

			</div>

		</div>

	</div>
<!-- clear -->
<div class="clear"></div>
<!-- End of Contact -->
<!-- Start of Other -->
<!-- 	<div id="other" class="page l5">
		<div class="content">
			<div id="other_content">
				<h2 class="heading_2 bottom">"Because he needed my car."</h2>
				<div id="switch"><p class="lights">Turn ON/OFF the lights!</p></div>
				<iframe id="video" width="560" height="315" src="//www.youtube-nocookie.com/embed/cJmbh3DARIU" rel="0" controls="1"frameborder="0" allowfullscreen></iframe>
			</div>


		</div>
	</div> -->
<!-- clear -->
<!-- <div class="clear"></div> -->

<!-- End of Site -->


</body>
</html>
