<!DOCTYPE html>
<html>
<head>
  <title>Eric Chesbrough</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="ie.css" />
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:200,100,300' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
